.git/
.env
chainlit/.env
chainlit/__pychache__
.chainlit/
.github/
data/
finetune_data/
experiments/
.gitignore
environment.yml
experiment.py
fine_tuning.ipynb
finetune_embedding.ipynb
golden_dataset.yml
hf_space.Dockerfile
scratch.ipynb
sdb.py
README.md
