langchain-community==0.3.2
numpy>=1,<2
chainlit==1.2.0
openai
langchain_openai
langchain_huggingface
langchain-core>=0.2.39,<0.4
langgraph>=0.2.35,<0.3.0
langchain
langchain-text-splitters
langchain_experimental
pymupdf
tiktoken
qdrant-client
langchain-qdrant
langsmith
asyncio
python-dotenv